@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid red;
    height: 80vh;
}
main{
    height: 90vh;
    width: 100%;
}
iframe{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
}